.cartscreen {
  display: flex;
  max-width: 1300px;
  margin-top: 2rem auto;
}

.cartscreen h2 {
  margin-bottom: 2rem;
}

.cartscreen__left {
  flex: 0.7;
  margin-right: 1rem;
  background: transparent;
  padding: 1rem;
}  

.cartscreen__right {
  flex: 0.3;
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  height: fit-content;
}

.cartscreen__right div{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding: 1rem;
}

.cartscreen__right div:last-child {
  border: none;
}

.cartscreen__info p {
  padding: 8px;
}

.cartscreen__right {
  
}