.cartitem {
  width: 100%;
  padding: 1rem;
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
  gap: 8px;
  background-color: white;
  border-radius: 2px;
  place-items: center;
}

.cartitem__name {
  text-decoration: none;
  color: #171717;
}

.cartitem__name:hover {
  color: #dd219e;
}

.cartitem__select {
  padding: 20px 17px;
}

.cartitem__deleteBtn {
  padding: 20px 17px;
  color: red;
  background: white;
  border: 1px solid #171717;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.cartItem__deleteBtn:hover,
.cartItem__deleteBtn:focus,
.cartItem__deleteBtn:active {
  background: #171717;
  transform: scale(1.2);
}
