.navbar {
  width: 100%;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
  z-index: 50;
}

.navbar__logo h2 {
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.cart__link {
  background-color: #333;
  padding: 3px;
  border-radius: 8px;
}

.cart__link:hover {
  background: #dd219e;
  color: white;
}

.cartlogo__badge {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  margin-left: 8px;
  color: #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
}